<form action="<%= comments_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input
    type="hidden"
    name="comment[post_id]"
    value="<%= comment.post_id %>">
  <input
    type="hidden"
    name="comment[parent_comment_id]"
    value="<%= comment.parent_comment_id %>">

  <div class="container">
    <div class="create-sub-box">

      <label>
        <textarea name="comment[body]" class="form-control sub-create" placeholder="Add a comment"><%= comment.body %></textarea>
      </label>

      <input type="submit" class="btn create-color-red create-button-red" value="Comment"></button>
    </div>
  </div>
</form>
