<div class="index-page">
<div class="container-post1">

  <div class="box-4">
    <a href="/subs/new">
      <input type="text" class="form-control create-post-subs" placeholder="Create Sub" aria-describedby="basic-addon1 ">
    </a>
  </div>

  <ul>
  <% @subs.each do |sub| %>
  
    <a href="<%= sub_url(sub) %>"><div class="box-3">
      <h5> <li><%= "r/" + sub.title %><br></li> </h5>
      <span><%= " Posted by u/" + current_user.username %></span>
      <p> <%= sub.description %> </p>
    </div>
    </a>
  
  <% end %>
  </ul>
</div>

<div class="hello">
<div class="box-description-index-page">
  <h6 id="h6-reddit-rules"><%= image_tag("reddit-rules.png", :alt => "reddit-rules", style: 'height:51px;width:62px;display:inline;') %>Posting to Reddit</h6> 
  <ol>
    <li> Remember the human </li>
    <li> Behave like you would in real life </li>
    <li> Look for the original source of content </li>
    <li> Search for duplicates before posting </li>
    <li> Read the community’s rules </li>

  </ol>
</div>

<div class="box-description-index-page">
  <%= image_tag("home-reddit.png", :alt => "home-reddit", style: 'height:66px;display:inline;') %></h6> 
  <ol>
    <li> Your personal Reddit frontpage. Come here to check in with your favorite communities.</li>


  </ol>
</div>
</div>

