<div class="show-sub">
  <h1>
    <%= @sub.title %>
  </h1>


  <%# <b>Description</b> %>
  <div class="container-1">

    <div class="box-posts">
      
      <div class="box-0">
        <a href="/subs/new">
          <input type="text" class="form-control" placeholder="Create Sub" aria-describedby="basic-addon1 ">
        </a>
      </div>

      <ul>
        <% @sub.posts.each do |post| %>
        <div class="box-1">
          <li>(<%= post.votes %>) <a href="<%= post_url(post) %>"><%= post.title %></a></li>
        </div>
        <% end %>
      </ul>
    </div>

    <div class="box-description">
      <h6> About Community </h6>
      <p><%= @sub.description %></p>
    </div>

  </div>
  
</div>