<div class="blue-container">
</div>

<div class="white-container">
<h1 id="h1-sub">
        <%= "r/" + @sub.title %>
        <p id="p-posts"> Posts </p>
      </h1>
</div>

<div class="index-page">
  
  <div class="container-post1">

      <div class="box-4">
        <a href="/posts/new">
          <input type="text" class="form-control create-post-subs" placeholder="Create Post" aria-describedby="basic-addon1 ">
        </a>
      </div>
 
      <ul>
        <% @sub.posts.each do |post| %>
        <a href="<%= post_url(post) %>"><div class="box-3">
          <li id="sub-title">(<%= post.votes %>)<%= post.title %></li>
          <p id="p-content"> <%= post.content %> </p>
        </div>
        </a>
        <% end %>
      </ul>

  </div>
    

  <div class="sub-show-side-bar">

    <div class="box-description-index-page">
      <h6> About Community </h6>
      <p id="p-description"><%= @sub.description %></p>
    </div>

    <div class="box-description-index-page">
    <h6 id="r-rules"> R/RULES</h6> 
    <ol>
      <li> Read The FAQ Before Posting </li>
      <li> Stay on Topic </li>
      <li> No Cheat Posts </li>
      <li> Be Respectful and Accurate </li>
      <li> No Self Promotion/Spam </li>
      <li> No Giving or Soliciting Medical Advice </li>

    </ol>
  </div>

    <div class="box-description-index-page">
    <h6 id="h6-reddit-rules"><%= image_tag("reddit-rules.png", :alt => "reddit-rules", style: 'height:51px;width:62px;display:inline;') %>Posting to Reddit</h6> 
    <ol>
      <li> Remember the human </li>
      <li> Behave like you would in real life </li>
      <li> Look for the original source of content </li>
      <li> Search for duplicates before posting </li>
      <li> Read the community’s rules </li>

    </ol>
  </div>

  </div>

  
</div>