<div class="container-post">


  <div class="part-1">
  <form action="<%= upvote_post_url(@post) %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <button><i class="fas fa-angle-up"></i></i></button>
  </form>
  <p id="vote-number"><%= @post.votes %></p>
  <form action="<%= downvote_post_url(@post) %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <button><i class="fas fa-angle-down"></i></i></button>
  </form>
  </div>

  <div>
      <ul>
        <% @post.subs.each do |sub| %>
          <h5 id="h5-post"> <li><a href="<%= sub_url(sub) %>"><%= "r/" + sub.title %></a></li> </h5>
          <span>Posted by
        <%= "u/" + @post.author.username %></span>
        <% end %>
      </ul>

      <h1>
        <h5><%= @post.title %></h5> 
      </h1>

      <div class="small-border">
        <p id="p-post"><%= @post.content %></p>
        <br><br>
      </div>

      <br>

  <h2>Comments</h2>

  <a href="<%= new_post_comment_url(@post.id) %>">Comment on this post!</a>
  <br><br>

  <ul>
    <% comments_by_parent = @post.comments_by_parent %>
    <% comments_by_parent[nil].each do |top_level_comment| %>
      <li>
        <%= render("comments/comment",
                   comment: top_level_comment,
                   comments_by_parent: comments_by_parent) %>
      </li>
    <% end %>
  </ul>

  <a href="<%= edit_post_url(@post) if @post.author == current_user %>">Edit</a>
    </div>

  

  
</div>
